APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/Shanghai[LANG]default_lang = zh-cn#数据库[DATABASE]TYPE = mysqlDRIVER = mysqlHOSTNAME = {DB_HOSTNAME}DATABASE = {DB_DATABASE}USERNAME = {DB_USERNAME}PASSWORD = {DB_PASSWORD}HOSTPORT = {DB_HOSTPORT}CHARSET = utf8DEBUG = true#登录调试[AUTH]DEBUG=trueDEBUG_UID=1#token配置[TOKEN]EXPIRE=7200UNIQUE=falseKEY=QsoYEClMJsgOSWUBkSCq26yWkApqSuH32#队列[QUEUE]DRIVER=redisTABLE=system_jobsEXPIRE=60DEFAULT=eadmin#redis[REDIS]HOST=127.0.0.1PASSWORD=nullPORT=6379DATABASE=6PERSISTENT=falseTIMEOUT=60#缓存配置[CACHE]DRIVER=filePREFIX=eadminEXPIRE=0#短信[SMS]APPID=APPKEY=SIGN_NAME=TEMPLATE_CODE=#接口请求限制[THROTTLE]DECAY_MINUTES=1MAX_ATTEMPTS=120#支付调试[PAY]DEBUG=trueMONEY=0.01